body {
    font-family: Arial, sans-serif;
    background: url(../images/fundo.avif) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 550px;
    height: 500px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    max-width: 200px;
    margin-bottom: 20px;
}
.login-card input {
    width: 70%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.remember-forgot {
    display: flex;
    width: 98%;
    justify-content: space-between;
    font-size: 14px;
}
.remember-label {
    display: flex;
}
.login-card button {
    width: 30%;
    height: 40px;
    padding: 10px;
    background: #5EBC3C;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 30px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.login-card button:hover {
    background-color: #43a047;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
    padding: 5px;
}

.register-link span {
    color: black;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.forgot-password a{
    color: #007BFF;
}
