body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    height: 100vh;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 170px; 
}

.form-group {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px; 
    transform: translate(-50%, -50%);
    background: #b6e27f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px; 
    padding: 60px 50px; 
    min-width: 300px;
    min-height: 300px; 
}

.form-group button {
    width: 100%;
    height: 50px;
    max-width: 350px;
    padding: 12px 15px;
    border: 1px solid #5EBC3C;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5EBC3C;
    transition: background 0.3s ease;
}

.form-group button:hover {
    background-color: #43a047;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-button img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.form-group input {
    width: 100%; 
    max-width: 500px; 
    padding: 12px 15px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-size: 16px;
}